{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2019
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : details sur consultation thermale 2
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}
 <td></td>
 <td colspan="4" class="py-4">

   <h4>Consultation</h4>

   <p><strong>Motif</strong> : {{ page.dataPre.medtheCsAutreMotif.value }}</p>


   <p><strong>Examen général</strong> :<br> {{ page.dataPre.medtheCsAutreExamenGen.value|nl2br }}</p>


   <p><strong>Conclusion</strong> : {{ page.dataPre.medtheCsAutreConclusion.value }}</p>

 </td>
